header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

header nav ul {
  display: flex;
}

header li {
  list-style-type: none;
}
